<form>
	<table>
		<tr class="spaceUnder">
			<td class="bold"><span id="${keyLogin}"></span></td>
			<td>
				<input type="text" name="login" placeholder="login" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kUser}"></span></td>
			<td>
				<input type="text" name="name" placeholder="name" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kAddress}"></span></td>
			<td>
				<input type="text" name="address" placeholder="address" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kOwnerAccount1}"></span></td>
			<td>
				<input type="text" pattern="[0-9]*" name="ownerAccount1" placeholder="123456" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kOwnerAccount2}"></span></td>
			<td>
				<input type="text" pattern="[0-9]*" name="ownerAccount2" placeholder="123456" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kEmail}"></span></td>
			<td>
				<input type="email" name="email" placeholder="address@domain.xyz" class="canSelect" autocomplete="off">
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kPassword}"></span></td>
			<td>
				<input type="password" name="password" placeholder="password" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr class="spaceUnder">
			<td class="bold"><span id="${kPassword2}"></span></td>
			<td>
				<input type="password" name="password2" placeholder="repeat password" class="canSelect" autocomplete="off" required>
			</td>
		</tr>
		<tr style="height:25px;"></tr>
	</table>
	<button id="btnHide" ng-click="submit();" class="isHide"></button>
</form>
<button ng-click="submit();"><span id="${kRegister}"></span></button>
<span id="error" class="comment"></span>