<div class="header" ng-controller="headerController">
	<div class="pull-left">
		<a href="/Pays" style="padding-left: 10px;">
			<img src="images/logo_nik.png" alt="Logo">
		</a>
	</div>

	<div id="mainMenu" class="btn-group isHide">
		<button id="0" type="button" class="btn btn-default" style="height:34px;">
			<a href="#/qqq" class="fa fa-home"></a>
		</button>

		<button report="Water" type="button" class="btn btn-default" ng-click="createReport($event, 'html');">
			<span id="${khmAbon}"></span>
		</button>

		<div class="btn-group" role="group">
			<button id="2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span id="${khmPokaz}"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li id="waterBillings" ng-click="menuClick($event);">
					<span id="${ksPokazWater}" class="spanmenu"></span>
				</li>
				<li id="gasBillings" ng-click="menuClick($event);">
					<span id="${ksPokazGas}" class="spanmenu"></span>
				</li>
			</ul>
		</div>

		<button type="button" class="btn btn-default" ng-click="changeTarif();">
			<span id="${kTarif}"></span>
		</button>

		<button type="button" class="btn btn-default" style="height:34px;" report="Water">
			<a href="" ng-click="createReport($event, 'xls');" class="fa fa-file-excel-o" style="color:green; font-size:1.4em;"></a>
		</button>
		<button type="button" class="btn btn-default" style="height:34px;" report="Water">
			<a href="" ng-click="createReport($event, 'pdf');" class="fa fa-file-pdf-o" style="color:red; font-size:1.4em;"></a>
		</button>
	</div>

	<div class="pull-right">
		<span>
			<a id="currentUserIcon" href="main.html" class="fa fa-user isHide"></a>
			<a id="currentUser" href="/Pays/#/profile" class="fa titleCenter"></a>
			<div class="right_header"></div>
			<a id="aLogin" href="#login" class="fa fa-sign-in">
				<span id="${kLogin}"></span>
			</a>
		</span>
		<span class="dropdown">
			<button id="curLangButton" type="button" class="btn-sm menubutton dropdown-toggle" data-toggle="dropdown" aria-expanded="false" lang="{{langId}}">
				<img ng-src="{{langImg}}" width="20">
				<span>{{langDesc}}</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li id="{{locale.id}}" ng-repeat="locale in locales" class="menubutton" ng-click="changeLocaleClick($event);">
					<img ng-src="{{locale.img}}" alt="flag" width="20">
					<span>{{locale.langName}}</span>
				</li>
			</ul>
		</span>
	</div>
</div>