<div ng-controller="ChangeTarifCtrl as tarif">
	<div>
		<span>Select Service </span>
		<span class="dropdown">
			<button class="btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span>{{tarif.curService.name}}</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu navbar-default" role="menu">
				<li ng-repeat="service in tarif.services" ng-click="tarif.changeService(service);">
					<span>{{service.name}}</span>
				</li>
			</ul>
		</span>
	</div>
	<div>
		<table>
			<tbody>
				<tr ng-repeat="t in tarif.tarifs">
					<td>
						<input type="text" ng-model="t.actualtime">
					</td>
					<td>
						<input type="text" ng-model="t.value">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-sm" ng-click="tarif.save();">OK</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>