body {
	font-family: "Times new Roman", "Arial";
	background-color:#eee;
}
::selection {background-color: transparent;}
.canSelect::selection {
	background-color: rgb(123, 180, 199);
}
.glyphicon, .fa {color: rgb(25, 50, 117);}
tr.spaceUnder > td {padding-bottom: 5px;}
.bold{font-weight: bold;}
.comment{font-weight: bold; color: red; font-size: 0.7em;}
.isHide{display: none;}
.pointer{cursor: pointer;}
.content{
	padding: 5px;
	background-color: white;
}
.styleContent{
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: 0 0 25px rgba(0,0,0,0.7);
}
.middleContent{
	max-height: calc(100% - 100px);
	overflow-y: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	height: calc(100% - 100px);
}

.menubutton{
	background: linear-gradient(#D8D8D8, #d0d0d0);
	display: inline-block;
	touch-action: manipulation;
	border: 1px solid transparent;
	color: black;
}
.menubutton:hover {
	background: rgba(0,0,0,.1);
	cursor: pointer;
}

.spanmenu{padding: 0 20px}
.spanmenu:hover{
	color: blue;
	cursor: pointer;
}

.header{
	background-color: silver;
	height: 40px;
}
.header .pull-left img{height: 35px;}
.right_header {
	display: inline;
	font-size: 20px;
	padding-bottom: 8px;
	border-right: 1px dotted #143273;
	line-height: 0;
	margin-right: 10px;
}
.header .dropdown-menu{
	background-color: rgb(214, 214, 214);
}
.header .dropdown-menu li{
	padding-left: 9px;
	width: 100%;
}
.header > .btn-group{padding: 2px 25px;}
.btn-group button{background: linear-gradient(#D8D8D8, #d0d0d0);}
.btn-group button{
	background: transparent;
	border-color: transparent;
}
.btn-group button:hover{border-color: blue;}

#curLangButton{text-align: left; width: 150px;}
#curLangButton img{margin: -3px 5px 0 0;}
span .caret{float: right; margin-top: 7px;}
div .pull-right{padding-top: 4px;}

.title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
}
.titleCenter{
	text-align: center
}

.footer{bottom: 0;background-color: silver;}
.footer p{
	height: 20px;
	padding-top: 5px;
}

.loginDiv{
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 10px;
	min-height: 150px;
}
.loginDiv table{width: 100%}
.loginDiv form > div{width: 60%;float: right!important;}
.loginDiv table td{text-align: right;}
.loginDiv table tr td:first-child{width: 40%;}
.loginDiv input,
.loginDiv .bold{padding: 0 5px;}
.loginDiv hr {margin: 10px 0;border-top: 1px solid #337ab7;}
a.button {text-decoration: none; color: initial;}

.cTable th, .cTable td {width: 150px; text-align: center;}

.hasDatepicker {
	line-height: normal;
	background: #ddd;
	color: inherit;
	width: 100px;
}
.ui-datepicker-calendar {background-color: #ddd;}
.ui-datepicker-trigger{border:none;background:none;}

#valEnd, #dtEnd{text-align: center;}

#tHistory{
	max-height: 107px;
	overflow: auto;
	margin: 20px;
	padding: 10px;
	border: gray;
	border-style: double;
	background-color: white;
}